* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1000px;
  border: 1px solid red;
  margin: auto;
}

.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
}

.heading h1 {
  font-size: 3rem;
}

.todoItem {
  font-size: 1rem;
  margin: 4rem;
}