.input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #CC0000;
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
    transition: padding 0.5s ease;
}

.input:focus{
    outline: none;
    padding: .5rem;
}

.submitBtn{
    color: #f4f4f4;
    background-color: #CC0000;
    padding: .5rem 1rem;
    border: none;
    transition: background .5s ease;
}

.submitBtn:hover {
    cursor: pointer;
    background: #333;
}